*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Outfit";
}
:root {
	--darknavy: #1a2a33;
	--semidarknavy: #1f3641;
	--silver: #a8bfc9;
	--silverhover: #dbe8ed;
	--lightblue: #31c3bd;
	--lightbluehover: #65e9e4;
	--lightyellow: #f2b137;
	--lightyellowhover: #ffc860;
}
body {
	background-color: var(--darknavy);
	height: 100vh;
	display: flex;
}
.game-mode {
	width: 100%;
	padding: 8px 0px;

	border: 0px;
	border-radius: 15px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 12px;
	color: var(--darknavy);
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
}
